<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    {{message}}
</div>
<div id="app2">
    <span v-bind:title="message">悬停个几秒钟</span>
</div>
<div id="app3">
    <p v-if="seen">可见</p>
</div>
<div id="app4">
    <ol>
        <li v-for="a in todos">{{a.text}}</li>
    </ol>
</div>
<div id="app5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>
<div id="app6">
    <p>{{message}}</p>
    <input v-model="message">
</div>
<div id="app7">
    <ol>
        <todo-item
        v-for="item in todoList"
        v-bind:todo="item"
        v-bind:key="item.id">
        </todo-item>
    </ol>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'fucking man?!'
        }
    })
    var app2 = new Vue({
        el: '#app2',
        data: {
            message: '页面加载于:' + new Date().toLocaleString()
        }
    })
    var app3 = new Vue({
        el: '#app3',
        data: {
            seen: true
        }
    })
    var app4 = new Vue({
        el: '#app4',
        data: {
            todos: [
                {text: 'java'},
                {text: 'sql'},
                {text: 'html'}
            ]
        }
    })
    var app5 = new Vue({
        el: '#app5',
        data: {
            message: 'go fuck yourself'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })
    var app6 = new Vue({
        el: "#app6",
        data: {
            message: 'watch out man!'
        }
    })
    Vue.component('todo-item', {
        props:['todo'],
        template: '<li>{{todo.text}}</li>'
    })
    var app7 = new Vue({
        el:'#app7',
        data:{
            todoList:[
                { id: 0, text: '蔬菜' },
                { id: 1, text: '奶酪' },
                { id: 2, text: '随便其它什么人吃的东西' }
            ]
        }
    })
</script>
</html>